*::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container-cv {
    background-color: #f5f5dc;
}

.bloc-1-cv, .bloc-2-cv, .bloc-3-cv, .bloc-4-cv, .bloc-5-cv {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.bloc-1-cv {
    padding: 105px 50px 50px;
    background-color: #ffffff;
}

.titre-principal-cv {
    text-align: center;
}

.titre-principal-cv, .titre-haut-cv, .titre-bas-cv {
    padding: 50px;
}

.titre-haut-cv {
    font-size: 100px;
}

.titre-bas-cv {
    font-size: 75px;
}

.contenu-2-presentation-cv {
    display: flex;
    justify-content: center;
    /* max-height: 300px; */
    width: 100%;
    overflow: hidden;
}

.container-photo-profil {
    margin: 25px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}

.photo-profil {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition:2s;
}

img:hover {
    transform: scale(1.10);
}

.bloc-texte-presentation-cv {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
}


.p-presentation-cv {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: #0000ff;
    text-decoration: none;
    border-radius: 10px;
}

.container-cv {
    display: flex;
    flex-direction: column;
}

.bloc-2-cv, .bloc-4-cv, .bloc-5-cv {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.bloc-1-cv, .competences, 
.competences-transversales, .experiences, 
.savoirs-etre, .scolaire, .loisirs, .coordonnees {
    width: 50%;
    border-radius: 20px;
}

.bloc-2-cv {
    padding: 75px 25px 25px;
}

.bloc-3-cv {
    display: flex;
    justify-content: center;
}

.bloc-3-cv, .bloc-4-cv {
    padding: 25px;
}

.bloc-5-cv {
    padding: 25px 25px 75px;
}

.competences, .competences-transversales, .experiences, 
.savoirs-etre, .scolaire, .loisirs, .coordonnees {
    padding: 25px;
    text-align: center;
}

.titre-blue {
    color: #0000ff;
}

h2 {
    font-size: 35px;
    padding: 25px;
}

h1, h2, h3, .span-contenu-cv {
    font-weight: bold;
}

h3 {
    padding: 10px;
    font-size: 22px;
}

.span-texte-presentation-cv {
    font-size: 20px;
}

p, li {
    font-size: 20px;
    margin: 5px 0 5px;
}