*::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container-hero-header, .presentation-accueil, .competences-accueil, .formations-accueil {
    max-width: 1200px;
    /* width: 100%; */
    margin: 0 auto;
}

.container-hero-header {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 105px 50px 50px;
}

.hero-header {
    display: flex;
    height: 100vh;
    width: 100%;
    
    justify-content: center;
}

.hero-header, .bloc-2 {
    background-color: #f5f5dc;
}

.contenu-hero-header {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    padding: 105px 50px 50px;
}

.h1-hero-header {
    padding: 25px;
}

.texte-prenom-nom {
    font-size: 125px;
    padding-bottom: 25px;
}

.texte-metier {
    font-size: 85px;
}

.titre-haut-hero-header, .titre-bas-hero-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.span-titre-header {
    font-size: 65px;
    align-content: center;
}

.texte-prenom-nom, .texte-metier {
    padding-left: 85px;
}

.bloc-presentation-accueil {
    display: flex;
}

.container-photo-profil {
    margin: 25px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
}

.photo-profil {
    transition:2s;
    width: 100%;
    /* object-fit: cover; */
}

img:hover {
    transform: scale(1.10);
}

.bloc-1-accueil, .bloc-2-accueil, .bloc-3-accueil {
    padding: 100px 0;
}

.container-presentation-accueil, .container-competences-accueil {
    display: flex;
    justify-content: center;
}

.container-competences-accueil {
    justify-content: space-evenly;
    align-items: center;
}

.contenu-presentation-accueil {
    justify-content: center;
    text-align: center;
}

.contenu-presentation-accueil {    
    margin: 25px;
    width: 85%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.span-blue, .titre-blue {
    color: blue;
}

.bloc-1-accueil, .bloc-3-accueil {
    background-color: #000000;
    color: #ffffff;
}

.bloc-2-accueil {
    background-color: #f5f5dc;
}

.contenu-competences-accueil {
    align-content: center;
}

.container-formations-accueil {
    display: flex;
    justify-content: space-between;
}

.contenu-formations {
    display: flex;
    justify-content: space-evenly;
}

.formation-1-accueil, .formation-2-accueil {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

h2, h3, span {
    font-weight: bold;
}

h2 {
    padding: 25px;
    text-align: center;
    font-size: 35px;
}

h3, ul {
    padding: 20px;
}

h3 {
    font-size: 25px;
    text-align: center;
}

ul {
    text-align: center;
}

p, li {
    font-size: 20px;
    margin: 5px 0 5px;
}