*::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* margin: auto 0; */
    /* max-width: 1200px; */
}

.contenu-hero-header {
    max-width: 1200px;
    margin: 0 auto;
}

.hero-header {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f5f5dc;
    justify-content: center;
}

.container-hero-header {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}

.h1-hero-header {
    padding: 25px;
}

.texte-prenom-nom {
    font-size: 125px;
    padding-bottom: 25px;
}

.texte-metier {
    font-size: 85px;
}

.titre-haut-hero-header, .titre-bas-hero-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.span-titre-header {
    font-size: 65px;
    align-content: center;
}

.texte-prenom-nom, .texte-metier {
    padding-left: 85px;
}

h2 {
    margin: 25px;
    text-align: center;
    font-size: 35px;
}

.presentation-accueil, .competences-accueil, .formations-accueil {
    margin: 0 auto;
    width: 75%;
}

.presentation-accueil {
    display: flex;
    flex-direction: column;
}

.contenu-presentation-accueil {
    display: flex;
}

.photo-presentation-accueil {
    margin: 25px;
    overflow: hidden;
    border-radius: 25px;
}

.photo-presentation-accueil img {
    width: 100%;
    height: 100%;
    transition:2s;
}   

img:hover {
    transform: scale(1.10);
}

.texte-presentation-accueil {
    width: 80%;
    margin: 25px;
    text-align: center;
    align-content: center;
}

p {
    width: 75%;
}